<?xml version="1.0" encoding="UTF-8"?>
	            <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	            <plist version="1.0">
	                <dict>
	                    <key>items</key>
	                    <array>
	                        <dict>
	                            <key>assets</key>
	                            <array>
	                                <dict>
	                                    <key>kind</key>
	                                    <string>software-package</string>
	                                    <key>url</key>
	                                    <string>https://s.360lebo.com:10001/upload/super_signature_ipa/00008101-001150442EC2001Ee5de55579b134b6192dfb4d576f375feoIMPZ6.ipa</string>
	                                </dict>
	                            </array>
	                            <key>metadata</key>
	                            <dict>
	                                <key>bundle-identifier</key>
	                                <string>com.mballzh.mb</string>
	                                <key>bundle-version</key>
	                                <string>2.0.15</string>
	                                <key>kind</key>
	                                <string>software</string>
	                                <key>title</key>
	                                <string>迈博体育2.0</string>
	                            </dict>
	                        </dict>
	                    </array>
	                </dict>
	            </plist>
